#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto;
}

#intro .profile-pic {
  width: 15rem;
  background: linear-gradient(-45deg, var(--alt), var(--text), var(--alt));
  padding: 0.75rem;
  box-shadow: 10px 0 80px var(--alt);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  max-width: 80%;
}

.profile-pic:hover {
  box-shadow:
    0 4px 6px var(--alt),
    0 1px 3px var(--alt);
  cursor: pointer;
  transform: scale(1.05);
}

.profile-pic img {
  max-width: 100%;
}

.intro-header {
  font-size: calc(var(--section-title-size) * 1.5);
}

@media (max-width: 768px) {
  .intro-header {
    font-size: calc(var(--section-title-size) * 1.1);
  }
}
